<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include Includes\ProductVariables.wxi ?>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder" Name="ProgramData">
        <Directory Id='coolOrange' Name='coolOrange'>
		    <Component Id="CMP_PE_README" Guid="*">
			    <File Id="FILE_PE_README" KeyPath="yes" Source="..\Resources\README.txt" />
		    </Component>
            <Directory Id='CLIENTCUST_SCRIPTS_DIR' Name='Client Customizations' >
              <Directory Id="CLIENTCUST_DISABLEDSCRIPTS_DIR" Name="Disabled"/>
              <Component Id="CMP_PE_DISABLE_SAMPLE_TABS" Guid="7C5FABF5-A487-4521-9E95-61EBA3E51EB5">
                <CreateFolder/>
                <CopyFile Id="MoveSampleERPTabsToDisabledFolderBecauseCustomOnceBecomeInstalled" SourceDirectory="CLIENTCUST_SCRIPTS_DIR" SourceName="Sample.*" DestinationDirectory="CLIENTCUST_DISABLEDSCRIPTS_DIR" Delete="yes"/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
  </Fragment>
</Wix>