<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<?include Includes\ProductVariables.wxi ?>
		<Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="CommonAppDataFolder" Name="ProgramData">
        <Directory Id='coolOrange' Name='coolOrange'>
          <Directory Id='powerGateServer' Name='powerGateServer'>
            <Directory Id='DIR_POWERGATESERVER_PLUGINS' Name='Plugins'>
              <Directory Id='ERP_SERVICES' Name='ErpServices'>
                <Component Id="CMP_PGS_README" Guid="*">
                  <File Id="FILE_PGS_README" KeyPath="yes" Source="..\Resources\README.txt" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramFiles64Folder" >
        <Directory Id='coolOrange_ProgramFiles' Name='coolOrange'>
          <Directory Id='powerGateServer_ProgramFiles' Name='powerGateServer'>
			  <Component Id="CMP_PGS_LOG4NET" Guid="{44DDCE8A-F0DE-4ADC-91BD-0A9B78EE9B82}">
				  <File Id="FILE_pgs_Log4net" KeyPath="yes" Source="..\..\Files\powerGatePlugin\ErpServices\powerGateServer.log4net" />
			  </Component>
			  <Component Id="CMP_PGS_EXECONFIG" Guid="{3DEE6270-EFE7-475A-A36D-CA5C159A8677}">
				  <File Id="FILE_pgs_EXECONFIG" KeyPath="yes" Source="..\..\Files\powerGatePlugin\ErpServices\powerGateServer.exe.config" />
			  </Component>
          </Directory>
        </Directory>
      </Directory>

		</Directory>
	</Fragment>
</Wix>