<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ERP_SERVICES">
            <Component Id="cmp29A3330503FBE0E6EF9D5658AFD3BF4A" Guid="{C5A5263D-3FDE-4728-A307-DA14CB7619F1}">
                <File Id="filF65F6F98DABED1A861FBDBFA25075DEB" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\ErpServices.addin" />
            </Component>
            <Component Id="cmpDBCA0D1AFCBB13DB77BBE7D3334BB72D" Guid="{67209634-8FC1-45F5-9E20-5E3D1B1E0CF6}">
                <File Id="fil2C31105ACF2BFE2D9C111E837D8219D2" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\ErpServices.dll" />
            </Component>
            <Component Id="cmp9A8AC627F749942FD935B3B6DB2E60DB" Guid="{F2F0947A-5048-4401-AD91-B3CFAAB7DD96}">
                <File Id="fil183B0D16A1EAD14049A682D4786AD0F3" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\ErpServices.dll.config" />
            </Component>
            <Component Id="cmp8F646751438BC1A70B820074EEED327E" Guid="{62CEC806-4749-4C38-A153-91EB6BEA5452}">
                <File Id="filE5B3BA0C375BF7FCB2C21FCC8E31FF1C" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\LiteDB.dll" />
            </Component>
            <Component Id="cmp6611B5D440F3BC4806DC422D9EE0F176" Guid="{BFCAA66F-5057-42DB-80AE-43715DEA08BA}">
                <File Id="fil83B703B0540DB2E2DFAE485B5CCF6BCC" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\LiteDB.xml" />
            </Component>
            <Component Id="cmp6EC7124899FD52EBFB2A5BFC2401A396" Guid="{232AA4E9-5ABA-437A-8F1E-A4B58860C196}">
                <File Id="filFB4CBD363DD9088D080818A7FB977BF7" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\powerGateServer.SDK.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated_PowerGateServerPlugins">
            <ComponentRef Id="cmp29A3330503FBE0E6EF9D5658AFD3BF4A" />
            <ComponentRef Id="cmpDBCA0D1AFCBB13DB77BBE7D3334BB72D" />
            <ComponentRef Id="cmp9A8AC627F749942FD935B3B6DB2E60DB" />
            <ComponentRef Id="cmp8F646751438BC1A70B820074EEED327E" />
            <ComponentRef Id="cmp6611B5D440F3BC4806DC422D9EE0F176" />
            <ComponentRef Id="cmp6EC7124899FD52EBFB2A5BFC2401A396" />
        </ComponentGroup>
    </Fragment>
</Wix>