<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ERP_SERVICES">
            <Component Id="cmp6EC7124899FD52EBFB2A5BFC2401A396" Guid="{59656F46-2B92-4149-976B-BAF1AA2D9D99}">
                <File Id="filFB4CBD363DD9088D080818A7FB977BF7" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\powerGateServer.SDK.dll" />
            </Component>
            <Component Id="cmp9A8AC627F749942FD935B3B6DB2E60DB" Guid="{4DFEAFAE-404B-46A4-BAF7-46D207DAFC55}">
                <File Id="fil183B0D16A1EAD14049A682D4786AD0F3" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\ErpServices.dll.config" />
            </Component>
            <Component Id="cmpDBCA0D1AFCBB13DB77BBE7D3334BB72D" Guid="{A2DA643C-8CB0-4248-8210-F96CCEAA1F7F}">
                <File Id="fil2C31105ACF2BFE2D9C111E837D8219D2" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\ErpServices.dll" />
            </Component>
            <Component Id="cmp29A3330503FBE0E6EF9D5658AFD3BF4A" Guid="{66A2FDC8-A0C0-4EB0-B7D0-3BA96BB899BD}">
                <File Id="filF65F6F98DABED1A861FBDBFA25075DEB" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\ErpServices.addin" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated_PowerGateServerPlugins">
            <ComponentRef Id="cmp6EC7124899FD52EBFB2A5BFC2401A396" />
            <ComponentRef Id="cmp9A8AC627F749942FD935B3B6DB2E60DB" />
            <ComponentRef Id="cmpDBCA0D1AFCBB13DB77BBE7D3334BB72D" />
            <ComponentRef Id="cmp29A3330503FBE0E6EF9D5658AFD3BF4A" />
        </ComponentGroup>
    </Fragment>
</Wix>