<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ErpStorage" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <ErpStorage>
      <add key="DatabaseFileLocation" value="C:\Temp\ErpData.db"/>
      <add key="FileStorageLocation" value="C:\Temp\ErpFiles"/>
    </ErpStorage>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
