<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<bindings>
			<webHttpBinding>
				<binding maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None"></security>
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<log4net />
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom"
						                        customUserNamePasswordValidatorType="ErpServices.Services.UserAuthentication, ErpServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="log4net" type="powerGateServer.Logging.Log4NetBehaviorExtensionElement, powerGateServer" />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- BEGIN: Added by PostSharp -->
			<dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
				<assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
				<bindingRedirect oldVersion="3.0.0.0-5.0.55.0" newVersion="5.0.55.0" />
			</dependentAssembly>
			<!-- END: Added by PostSharp -->
		</assemblyBinding>
	</runtime>
</configuration>