<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include Includes\ProductVariables.wxi ?>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder" Name="ProgramData">
        <Directory Id='coolOrange' Name='coolOrange'>

			<Directory Id='POWERJOBS_INSTALL' Name='powerJobs' >
				<Component Id="CMP_PJ_README" Guid="*">
					<File Id="FILE_PJ_README" KeyPath="yes" Source="..\Resources\README.txt" />
				</Component>
			</Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>